@import url("http://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    background:url("./pic/backgroud.jpg");
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;

}
.container {
    width: 80%;
    margin: 0 auto
}


.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    background: linear-gradient(rgba(0,0,0,1), rgba(0,10,0,0));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    width: 110px; 
    height: 110px;
    object-fit: cover;
    object-position: center;
}


.navbar a {
    position: relative;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;

}

.navbar a::before{
   content: ''; 
   position: absolute;
   top: 100%;
   left: 0;
   width: 0;
   height: 2px;
   background: white;
   transition: .3s;

}

.navbar a:hover:before{
    width: 100%;
}

.detel {
    text-align: left;
}

.detel h1{
    font-size: 40px;
    color: #00FA9A;
    margin-bottom: 10px;
}

.detel p{
    font-size: 15px;
    color:antiquewhite;
}

.image{
    width: 30%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 100px;

}
.image img{
    height: 50%;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
    transition: left 800ms

}
.image:hover .boy{
    left: 42%;
}
